################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Robot/obj
/.vs
/Robot/bin/Debug/net6.0
